lab7_xml/present_data_auto_generated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="present" type="presentType"/>
  <xs:complexType name="candyType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="weight"/>
      <xs:element type="xs:string" name="type"/>
      <xs:element type="xs:string" name="consist"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="presentType">
    <xs:sequence>
      <xs:element type="candyType" name="candy" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>